{% extends "base.html" %}

{% block content %}
  <h1>Shopping cart</h1>
  {% if not cart_items %}
    <p>You have not added any products!</p>
  {% else %}
    <ul>
      {% for item in cart_items %}
        <li>
          <p>Product name: {{ item.product.name }}</p>
          <p>Price: {{ item.product.price }}</p>
          <p>Quantity: {{ item.quantity }}</p>
        </li>
      {% endfor %}
      <p>Total price: {{ total_price }}</p>
    </ul>
  {% endif %}
  <a href="{% url 'digital_store:index' %}">Home page</a>
{% endblock %}