{% extends "base.html" %}

{% block content %}
  {% if user.is_authenticated %}
    <form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <input type="submit" value="Logout">
  </form>
  {% else %}
    <a href="{% url 'login' %}">Login</a><br>
  {% endif %}
  
  
  <p>Customers: {{ customer_amount }}</p>
  <p>Sellers: {{ seller_amount }}</p>
  <p>Products: {{ product_amount }}</p>
  
  <a href="{% url 'digital_store:category-list' %}">Category list</a><br>
  <a href="{% url 'digital_store:product-list' %}">Product list</a><br>
  <a href="{% url 'digital_store:cart-list' %}">Cart</a><br>
  <a href="{% url 'digital_store:order-list' %}">Orders</a><br>
  
{% endblock %}
