{% extends "base.html" %}

{% block content %}
  <h1>Product list</h1>
  <a href="{% url 'digital_store:product-create' %}">Product create</a><br>
  {% if product_list %}
    <ul>
      {% for product in product_list %}
        <li>
          <p><strong>{{ product.name }}</strong></p>
          <p><strong>Price:</strong> {{ product.price }}</p>

          {% if product.category.all %}
            <p class="text-muted">
              Category:
              {% for category in product.category.all %}
                {{ category.name }} {% if not forloop.last %}, {% endif %}
                </p>
              {% endfor %}
          {% else %}
            <p class="text-muted">No categories assigned</p>
          {% endif %}
          
          <a href="{% url 'digital_store:product-detail' pk=product.pk %}">Detail</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No products have been created yet!</p>
  {% endif %}
{% endblock %}
